.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: lightcoral;
  color: white;
  max-width: 300px;
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 5px;
}

.input {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 15px;
  max-width: 250px;
}

.button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  transition: color 10ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 10ms cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    background-color: white;
    color: lightcoral;
    border: lightcoral;
  }
}
